.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.5)
}
.logo{
    position: fixed;
    left: 20px;
    width: 80px;
}
.avatar{
    position: fixed;
    right: 20px;
    width: 30px;
    border-radius: 50%;
}
.search{
    position: fixed;
    right: 80px;
    width: 25px;
    display: flex;
    
}
.nav-detail{
    color: #eeee;
    position: absolute;
    margin-left: 150px;
    display: flex;
    justify-content: center;
}
.nav-names{
    margin-right: 30px;
    cursor: pointer;
}
